h1{
    background-color: burlywood;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 50px;

}
/*
span{
    background-color: cornflowerblue;
    border: 1px dotted black;
    display: block;
} */

span {
    background-color: darkseagreen;
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    margin: 50px;

}